<footer class="footer">
    <div class="footer-top">

        <div class="content">
            <a class="logo-footer-wrp" href="#">
                <img src="../../build/img/footer-logo.png" alt="logo">
            </a>
            <div class="contacts-wrp">
                <i class="far fa-envelope"></i>
                <a class="mail" href="mailto:zakaz@moslz.ru">zakaz@moslz.ru</a>
                <div class="soc-accs-wrp">
                    <a href="#">
                        <img src="../../build/img/5.svg" alt="иконка инстаграма">
                    </a>
                    <a href="#">
                        <img src="../../build/img/6.svg" alt="иконка фейсбука">
                    </a>
                    <a href="#">
                        <img src="../../build/img/7.svg" alt="иконка вконтакте">
                    </a>
                </div>
            </div>
            <ul class="nav-list-footer">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="nav-list-footer">
                <li><a href="#">Каталог категории</a></li>
                <li><a href="#">Акции товарные</a></li>
                <li><a href="#">Акции текстовые</a></li>
                <li><a href="#">Статьи</a></li>
            </ul>
            <ul class="nav-list-footer">
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Дисконтная программа</a></li>
                <li><a href="#">Возврат и обмен</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>by LandPRO</p>
    </div>
</footer>
