<section class="sidebar">
    <p class="title-sidebar">Категории</p>
    <div id="accordian-products" class="accordian">
        <h3 class="main-title"><a href="#">Товарная категория</a></h3>
       <div class="accordian">
        <h3><a href="#">Подкатегория товара</a></h3>
        <div class="inner-list">
            <ul>
                <li>Наименование товара</li>
                <li>Наименование товара</li>
                <li>Наименование товара</li>
            </ul>
        </div>
            <h3><a href="#">Подкатегория товара</a></h3>
            <div class="inner-list">
                <ul>
                    <li>Наименование товара</li>
                    <li>Наименование товара</li>
                    <li>Наименование товара</li>
                </ul>
            </div>
      </div>
        <h3 class="main-title"><a href="#">Товарная категория</a></h3>
        <div>
            <div class="accordian">
             <h3><a href="#">Подкатегория товара</a></h3>
             <div class="inner-list">
                 <ul>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                 </ul>
             </div>
                 <h3><a href="#">Подкатегория товара</a></h3>
                 <div class="inner-list">
                     <ul>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                     </ul>
                 </div>
           </div>
        </div>
        <h3 class="main-title"><a href="#">Товарная категория</a></h3>
        <div>
            <div class="accordian">
             <h3><a href="#">Подкатегория товара</a></h3>
             <div class="inner-list">
                 <ul>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                 </ul>
             </div>
                 <h3><a href="#">Подкатегория товара</a></h3>
                 <div class="inner-list">
                     <ul>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                     </ul>
                 </div>
           </div>
        </div>
        <h3 class="main-title"><a href="#">Товарная категория</a></h3>
        <div>
            <div class="accordian">
             <h3><a href="#">Подкатегория товара</a></h3>
             <div class="inner-list">
                 <ul>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                     <li>Наименование товара</li>
                 </ul>
             </div>
                 <h3><a href="#">Подкатегория товара</a></h3>
                 <div class="inner-list">
                     <ul>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                         <li>Наименование товара</li>
                     </ul>
                 </div>
           </div>
        </div>
    </div>

    <div class="slider-price-wrp">
        <p class="title-sidebar">цена</p>
        <div id="slider-price"></div>
        <div class="inputs-wrp">
            <span>от </span><input class="input-price" type="text" id="minCost" value="0"/>
            <span>до </span><input class="input-price" type="text" id="maxCost" value="5000"/>
        </div>
    </div>

    <div class="filters-wrp">
        <p class="title-sidebar">фирма</p>
        <div class="checkboxes-wrp">
            <ul class="checkboxes-list">
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox">
                      <input type="checkbox">
                      <div class="checkbox__text">Фирма</div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</section>
