<section class="main">
    <div class="content">
        <div class="sidebar-part">
            <!-- FileInjector:sidebar -->
        </div>
        <div class="content-part">
            <div class="input-group">
                <input class="input-search" type="text" placeholder="Введите поисковой запрос">
                <div class="input-group-btn">
                    <span>Поиск</span>
                    <img src="../../build/img/search.svg" alt="иконка поиска">
                </div>
            </div>
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
            </ul>
            <div class="bunner-slider-wrp">
                <div class="bunner-slider">
                    <div class="bunner-wrp">
                        <img src="../../build/img/bunner1.png" alt="баннер">
                        <div class="proposal">
                            <p class="proposal-name">баннер <span>с ротацией</span></p>
                            <p class="proposal-content">предложение от «орешек»</p>
                        </div>
                    </div>
                    <div class="bunner-wrp">
                        <img src="../../build/img/bunner2.png" alt="баннер">
                        <div class="proposal">
                            <p class="proposal-name">баннер <span>с ротацией</span></p>
                            <p class="proposal-content">предложение от «орешек»</p>
                        </div>
                    </div>
                    <div class="bunner-wrp">
                        <img src="../../build/img/bunner3.png" alt="баннер">
                        <div class="proposal">
                            <p class="proposal-name">баннер <span>с ротацией</span></p>
                            <p class="proposal-content">предложение от «орешек»</p>
                        </div>
                    </div>
                </div>
                <div class="bunner-prev"></div>
                <div class="bunner-next"></div>
            </div>
            <div class="stocks-popular-content-wrp">
                <div class="special-offers">
                    <h2>спецпредложения</h2>
                    <div class="offer-block">
                        <div class="offer-img-wrp">
                            <img src="../../build/img/item1.png" alt="газонокосилка">
                            <div class="label"></div>
                        </div>
                        <div class="offer-text-wrp">
                            <p class="discount-prop">Скидка <span>на товар</span> <span class="discount">-15%</span> </p>
                            <p class="discount-details">При покупке до 12.03.2017</p>
                        </div>
                    </div>
                    <div class="offer-block">
                        <div class="offer-img-wrp">
                            <img src="../../build/img/item2.png" alt="стол">
                            <div class="label"></div>
                        </div>
                        <div class="offer-text-wrp">
                            <p class="discount-prop">Скидка <span>на товар</span> <span class="discount">-15%</span> </p>
                            <p class="discount-details">При покупке до 12.03.2017</p>
                        </div>
                    </div>
                </div>
                <div class="popular-offers">
                    <h2>Популярные <span>категории</span></h2>
                    <div class="popular-blocks-wrp">
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item3.png" alt="стол">
                            </div>
                            <p>садовый <span>инвентарь</span></p>
                        </div>
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item4.png" alt="стол">
                            </div>
                            <p>строительный <span>материал</span></p>
                        </div>
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item5.png" alt="стол">
                            </div>
                            <p>краски</p>
                        </div>
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item3.png" alt="стол">
                            </div>
                            <p>садовый <span>инвентарь</span></p>
                        </div>
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item4.png" alt="стол">
                            </div>
                            <p>строительный <span>материал</span></p>
                        </div>
                        <div class="popular-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item5.png" alt="стол">
                            </div>
                            <p>краски</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
