@font-face {
	font-family: 'gotham';
	src: url('../fonts/GothamPro.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-black';
	src: url('../fonts/Akrobat-Black.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-bold';
	src: url('../fonts/Akrobat-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-extrabold';
	src: url('../fonts/Akrobat-ExtraBold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-semibold';
	src: url('../fonts/Akrobat-SemiBold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-extraLight';
	src: url('../fonts/Akrobat-ExtraLight.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-light';
	src: url('../fonts/Akrobat-Light.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-thin';
	src: url('../fonts/Akrobat-Thin.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'akrobat-regular';
	src: url('../fonts/Akrobat-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'line-awesome';
	src: url('../fonts/line-awesome.ttf');
	font-weight: normal;
	font-style: normal;
}
