@import "reset";
@import "fonts";
@import "variables";
@import "custom";
@import "header/header";
@import "footer/footer";
@import "main/main";
@import "sidebar/sidebar";



body {
    position: relative;
    font-family: 'akrobat-regular';
    width: 100%;
    height: 100%;
    color: #000;
    &.compensate-for-scrollbar {
        padding-right: 17px;
        overflow: hidden;
    }
    &.overflow-hidden {
        overflow: hidden;
    }
}
.desctop, .mobile, .mobi-rotate {
    position: relative;
    display: none;
    p {
        font-size: 14px;
        line-height: 22px;
    }
}

.desctop {
    width: 100%;
    overflow: hidden;
    .pages-wrapper, .header-wrapper, .footer-wrapper {
        position: relative;
        .content {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 1170px;
            margin: 0 auto;
            .sidebar-part {
                width: 309px;
            }
            .content-part {
                width: 716px;
            }
        }
    }
}

.mobile {
    position: relative;
    overflow: hidden;
    width: 100%;
    p {
        font-size: 15px;
    }
    .content-mob {
        width: 100%;
        padding: 0 5vw;
        width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }
    .pop-up-overlay-wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 15;
        .overlay-pop-up {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: #1e1e1e;
            z-index: 5;
            opacity: .9;
        }
    }
}

/*MEDIA*/
@media (min-width: 1224px) {
    .desctop {
        display: block;
    }
}
@media screen and (max-width: 1223px) and (min-width: 320px) {
    .mobile {
        display: block;
    }
    @media (orientation:landscape) {
        .mobile {display:none}
        .mobi-rotate {
            display: flex;
            align-items: center;
            justify-content: center;
            width:100%;
            height: 100%;
            background-image: -moz-linear-gradient( -45deg, #1b0b0b 0%, #652929 100%);
            background-image: -webkit-linear-gradient( -45deg, #1b0b0b 0%, #652929 100%);
            background-image: -ms-linear-gradient( -45deg, #1b0b0b 0%, #652929 100%);
            p {
                font-family: 'sirius';
                font-size: 25px;
                color:#fff;
                letter-spacing: 2px;
            }
        }
    }
    @media (min-width: 768px) {
        .mobile {
            font-size: 16px;
        }
    }
}
