<header>
    <div class="header-top">
        <div class="wrp">
            <p class="clock"></p>
            <p>С 9:00 до 19:00</p>
        </div>
        <div class="wrp">
            <p class="phone">г. Шлиссельбург</p>
            <p>8-921-798-65-06</p>
        </div>
        <div class="img-wrp">
            <img src="../../build/img/header-logo.png" alt="logo">
        </div>
        <div class="wrp">
            <p class="phone">г. Кировск</p>
            <p>8-931-360-33-50</p>
        </div>
        <div class="wrp">
            <p class="phone">г. Отрадное</p>
            <p>8-981-848-83-62</p>
        </div>
    </div>
    <div class="header-bottom">
        <ul class="nav-list">
            <li><a href="#">контакты</a></li>
            <li><a href="#">доставка</a></li>
            <li><a href="#">оплата</a></li>
            <li><a href="#">возврат и обмен</a></li>
            <li><a href="#">дисконтная программа</a></li>
            <li><a href="#">акции</a></li>
            <li><a href="#">сотрудничество</a></li>
            <li><a href="#">статьи</a></li>
        </ul>
    </div>
</header>
